<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <style>

    html, body {
      margin: 0;
      padding: 20px;
      font-family: 'Open Sans', sans-serif;
    }

    .correctHash {
      background: green;
    }
    .wrongHash {
      background: red;
    }

    table {
      width: 100%;
      border: 1px solid black;
      border-collapse: collapse;
    }

    th {
      font-weight: bold;
    }

    td, th {
      border: 1px solid black;
      padding: 10px;
    }
    </style>
  </head>
  <body>
    <h1>Blockchain</h1>
    <table>
      <thead>
        <tr>
          <th>_id</th>
          <th>previousHash</th>
          <th>hash</th>
          <th>nonce</th>
          <th>timestamp</th>
          <th>found by user</th>
          <th>data</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < chain.length; i++) { %>
          <tr>
            <td><%= chain[i]._id %></td>
            <% if (chain[i].previousHash !== '') { %>
              <% if (chain[i].previousHash === chain[i+1].hash) { %>
                <td class="correctHash"><%= chain[i].previousHash %></td>
              <% } else { %>
                <td class="wrongHash"><%= chain[i].previousHash %></td>
              <% } %>
            <% } else { %>
              <td></td>
            <% } %>
            <td><%= chain[i].hash %></td>
            <td><%= chain[i].nonce %></td>
            <td><%= moment(chain[i].timestamp).format('DD.MM.YYYY HH:mm:ss') %></td>
            <td><%= chain[i].foundByUser.username %></td>
            <td><%= chain[i].data %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
